@mixin flex-center
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: center

* 
  box-sizing: border-box

html, body, .container 
  min-height: 100vh

body
  padding: 0
  margin: 0

.container 
  @include flex-center
  width: 100%
  font-family: 'Arial'
  text-align: center
  background: url('assets/images/gradient-background.png')
  background-repeat: no-repeat
  background-size: cover
  position: relative
  cursor: default
  h1
    color: #595a69
  ul
    list-style: none
    margin: 0
    padding: 0

header
  position: fixed
  top: 0
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 100%
  & > div
    margin: 1rem
    max-width: 50%
  .given-songs
    text-align: left
    h4
      margin-top: 0
  .settings
    display: flex
    flex-flow: column wrap
    align-items: flex-end
    button
      background: none
      border: none
      outline: none
      cursor: pointer
      img
        width: 4rem
    .open, .closed
      li
        display: flex
        justify-content: flex-end
        align-items: center
        height: 3rem
    .closed
      display: none

.main
  width: 50%
  display: flex
  flex-flow: column wrap
  justify-content: center
  .user-input
    @include flex-center
    input[type=text]
      display: block
      width: 100%
      margin: .5rem 0
  .button-wrapper
    display: flex
    justify-content: space-evenly
    button
      width: 100%
      margin: 1rem .5rem
      cursor: pointer
      border: none
      border-radius: 5%
      box-shadow: 1px 1px 5px 1px cornflowerblue
      outline: none
      background-color: white
