@mixin flex-center
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: center

@mixin default-button
  border: none
  outline: none
  cursor: pointer
  height: 2rem
  width: 10rem

$grey: #808080

* 
  box-sizing: border-box

html, body, .container 
  min-height: 100vh

body
  padding: 0
  margin: 0

.container 
  @include flex-center
  justify-content: flex-start
  width: 100%
  font-family: 'Arial'
  text-align: center
  background: url('assets/images/gradient-background.png')
  background-repeat: no-repeat
  background-size: cover
  position: relative
  cursor: default
  h1
    color: #595a69
  ul
    list-style: none
    margin: 0
    padding: 0
  > div
    width: 75%
    margin: 2.5rem
    padding: 2.5rem
    background: rgba(255, 255, 255, .4)

.main
  display: flex
  flex-flow: column wrap
  justify-content: center
  .settings
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    margin: 1rem 0
    button
      @include default-button
      background-color: orange
      margin: 1rem
      height: 2.5rem
  .user-input
    @include flex-center
    input[type=text]
      display: block
      width: 100%
      margin: .5rem 0
  .button-wrapper
    display: flex
    justify-content: space-evenly
    margin: 1rem 0
    button
      @include default-button
      box-shadow: 1px 1px 5px 1px cornflowerblue
      background-color: #3cd07e
    button.inactive
      cursor: not-allowed
      background: $grey

div.queue
  flex-grow: 1
  margin-top: 0
  li
    margin: .5rem
    span
      font-size: 1.5rem
  h4
    margin-top: 0
  button
    @include default-button
    width: 50%
    box-shadow: 1px 1px 5px 1px cornflowerblue
    background-color: white
  li::after
    content: '❌'